.registration-form{
    padding: 10px;
    width: 650px;
    height: 600px;
    margin: 20px auto;
    background-color: white;
    border-radius: 20px;
    color: #252A34;
    font-family:'Times New Roman', Times, serif;
    box-shadow: 10px 10px 20px;
}


.gender{
   width: 100%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
.gender-label, .country-label{
    width: 100%;
    margin: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.country{
   width: 350px;
   height: 40px;
   margin: auto;
 }

 .submit{
    position: relative;
    top: 16px;
 }

 